body {
  background-color: whitesmoke;
  font-family: cursive;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header {
  flex: 1
}

nav ul {
  list-style:none ;
  text-align: center;
}

nav li {
  display:inline-block ;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 2rem;
}

a {
  text-decoration: underline;
}

a:link {
  color: black;
}

a:visited {
  color: rgb(24, 172, 221);
}

a:hover {
  color: rgb(203, 138, 203)
}

nav li:hover {
  transform: scale(1.1);
  transition: 1s;
}

.story {
  background-image: url("feather.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  display: flex;
}

article {
  flex: 1;
  padding: 2rem;
}

footer {
  display: flex;
  margin-top: 5rem;
  background-color: black;
}

footer img {
  width: 10%;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer div {
  flex:1;
}

footer p {
  text-align: center;
  color: white;
}